img {
  width: 100%;
  height: auto;
}

.jsimg {
  display: none;
}

.rubyimg {
  display: none;
  width: 80%;
  height: auto;
}

.pythonimg {
  display: none;
  width: 80%;
  height: auto;
}

.rustimg {
  display: none;
  width: 80%;
  height: auto;
}

.jsanswer {
  display: none;
}

.rubyanswer {
  display: none;
}

.pythonanswer {
  display: none;
}

.rustanswer {
  display: none;
}
