.mainform-title {
  padding-bottom: 4%;
  border-bottom: 4px solid black;
}

#mainform {
  margin-top: 4%;
}

.question1 {
  margin-bottom: 2%;
}

.question2 {
  margin-bottom: 2%;
}

.question3 {
  margin-bottom: 2%;
}

.question4 {
  margin-bottom: 2%;
}

.question5 {
  margin-bottom: 2%;
}

#button {
  margin-top: 2%;
}

#refresh {
  margin-top: 2%;
}

img {
  width: 100%;
  height: auto;
}

.jsimg {
  display: none;
}

.rubyimg {
  display: none;
  width: 80%;
  height: auto;
}

.pythonimg {
  display: none;
  width: 80%;
  height: auto;
}

.rustimg {
  display: none;
  width: 80%;
  height: auto;
}

.jsanswer {
  display: none;
}

.rubyanswer {
  display: none;
}

.pythonanswer {
  display: none;
}

.rustanswer {
  display: none;
}

.foot {
  margin-top: 5%;
}

.footer2, .footer3, .footer4, .footer5, .footer6, .footer7, .footer8, .footer9, .footer10, .footer11, .footer12 {
  display: none;
}
