.mainform-title {
  padding-bottom: 4%;
  border-bottom: 4px solid black;
}

#mainform {
  margin-top: 4%;
}

#button {
  margin-top: 2%;
}

#refresh {
  margin-top: 2%;
}

img {
  width: 100%;
  height: auto;
}

.jsimg {
  display: none;
}

.rubyimg {
  display: none;
  width: 80%;
  height: auto;
}

.pythonimg {
  display: none;
  width: 80%;
  height: auto;
}

.rustimg {
  display: none;
  width: 80%;
  height: auto;
}

.jsanswer {
  display: none;
}

.rubyanswer {
  display: none;
}

.pythonanswer {
  display: none;
}

.rustanswer {
  display: none;
}

.foot {
  margin-top: 5%;
}
